/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */
/*

        Spacing

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */
/* ------ START WRITING YOUR CODE BELOW ------ */
/*General Setup*/
* {
  box-sizing: border-box;
}

html {
  font-family: montserrat, sans-serif;
}

body {

  margin: 0 auto;
  width: 100%;
  max-width: 88rem;
}

img {
  width: 100%;
  display: block;
}

/*Layout*/
main {
  margin: 0 auto;
}

article {
  margin-right: 2rem;
  width: 75%;
}

.article-image {
  float: left;
  width: 100%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: 1rem;
}

section {}

.main-section {
  display: flex;
}

.subsection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  clear: left;

}

aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 2rem 2rem 2rem;
  border-left-style: solid;
  font-size: 0.875rem;
  line-height: 0.5rem;
}

figure {
  width: 100%;
  margin-inline-start: 1rem;
  margin-inline-end: 13rem;
  margin: 0;
}

figcaption {}

/*Imported Typefaces*/
@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  src: url(montserrat-regular.ttf);
}

@font-face {
  font-family: josefinslab;
  font-style: normal;
  font-weight: normal;
  src: url(josefinslab-regular.ttf);
}

@font-face {
  font-family:
}

/*Typography Styles*/
h1 {
  font-family: josefinslab, serif;
  font-size: 4rem;
  transform: rotate(-2deg);
  text-align: center;
  text-shadow: 1rem;
  letter-spacing: 0.125rem;
}

h2 {
  font-size: 1.5rem;
  word-spacing: 0.125rem;
  letter-spacing: 0.0625rem;
  padding-top: 2rem;
  padding-bottom: 0.125rem;
  margin-left: 1rem;
}

h3 {
  line-height: normal;
}

p {
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
}

figcaption {
  background-color: #EEE4D1;
  text-align: left;
  padding: 0.75rem;
}

/*Link Styling*/
nav {
  padding-left: 0;
  margin-top: 0.25rem;
  border-top-style: solid;
  border-bottom-style: solid;
  width: 100%;
}

/*Navigation Bar*/
nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000080;
  line-height: 3;
  padding: 2.5rem;
}

nav a:focus,
nav a:hover {
  text-decoration: none;
}

nav a:active {
  text-decoration: line-through;
  color: #000000;
}

/*Footer*/
footer {
display: grid;
grid-template-columns: 1fr 1fr;
  text-align: left;
  font-size: 0.625rem;
}

.highlight {
  font-family: monteserrat;
  color: #EEE4D1;
  background-color: #853333;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.image-aside {
  width: 15rem;
  height: 20rem;
}

button {
  font-family: monteserrat;
  font-size: 2rem;
  font-weight: bold;
  background-color: #000080;
  color: #EEE4D1;
  padding: 0.5rem;
margin-top:8rem;
  border-radius: 0.75rem;
  letter-spacing: 0.125rem;
}

.expand {
  font-size: .0125rem;
}
